html, body {
    width: 100%;
    height: 100%;
    background-image: url(BG2.jpg);
    }

h2, h6 {
    padding-left: 120px;
    }
p, span {
    padding-left: 120px;
    font-size: 24px;
   }
title {

    }
h2 {

    }
